<!-- block: breadcrumb -->
<nav class="breadcrumb" role="navigation">
    <h2 class="breadcrumb__title d-hidden">Вы находитесь злесь:</h2>
    <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
            <a href="/">Главная</a>
            <span class="breadcrumb__item breadcrumb__item__separator"> » </span>
        </li>
		<li class="breadcrumb__item">
            <a href="/">Раздел</a>
            <span class="breadcrumb__item breadcrumb__item__separator"> » </span>
        </li>
		<li class="breadcrumb__item">
            Страница
        </li>
        <!--<li class="breadcrumb__item">Тестовая страница</li>-->
    </ol>
</nav>
<!-- /block: breadcrumb -->