<!-- block: footer-->
<footer class="page__footer page-footer">
    <div class="page-footer__inner d-container">
		<!-- block: footer > copyright -->
		<div class="page-footer__copyright">
			<a href="#">{{ config.sitename }}</a> 2014 ©.
		</div>
		<!-- /block: footer > copyright -->
    </div>
</footer>
<!-- /block: footer-->