<!-- block: header -->
<header class="page__header page-header">
    <div class="page-header__inner d-container">
        <div class="page-header__sitename">
			<a href="/index.html" title="Главная" rel="home">
				{{ config.sitename }} - {{ config.slogan }}
			</a>
        </div>

		{{> search-block }}
		{{> main-menu }}
    </div>
</header>
<!-- /block: header -->