<!-- block: pager -->
<div class="pager">
	<ul class="pager__list">
		<li class="pager__list-item pager__list-item_prev"><a href="#">Назад</a></li>
		<li class="pager__list-item"><a href="#">1</a></li>
		<li class="pager__list-item"><a href="#">2</a></li>
		<li class="pager__list-item"><a href="#">3</a></li>
		<li class="pager__list-item"><a href="#">4</a></li>
		<li class="pager__list-item"><a href="#">5</a></li>
		<li class="pager__list-item pager__list-item_ellipsis">…</li>
        <li class="pager__list-item"><a href="#">10</a></li>
        <li class="pager__list-item"><a href="#">20</a></li>
        <li class="pager__list-item"><a href="#">30</a></li>
        <li class="pager__list-item pager__list-item_next"><a href="#">Далее</a></li>
	</ul>
</div>
<!-- /block: pager -->