<!-- block: search-block -->
<div class="search-block">
	<form action="#search" method="get" accept-charset="UTF-8" class="search-block__form d-form-inline">
		<div class="d-form-group search-block__input">
			<input type="text" name="text" value="" size="30" maxlength="128" class="d-form-control" placeholder="Поиск" />
		</div>
		<div class="d-form-group search-block__submit">
			<input type="submit" name="" value="Найти" class="d-btn" />
		</div>
	</form>
</div>
<!-- /block: search-block -->