
.file {
	line-height: 24px;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 24px;
		width: 24px;
		margin-right: 10px;
		margin-top: -2px;
		background: url(../images/file.png) 50% 50% no-repeat;

		@media @retina-dpi {
			background-image: url(../images/file@2x.png);
			.background-size(24px 24px)
		}
	}
}